<div class="container" style="text-align:center" >
  <h1>Edit Card</h1>
<form #addCardForm="ngForm" (ngSubmit)="service.addNewCard(addCardForm)">
  <div>
  <label>First Name</label>
  <input class="block-input" type="text" name="firstName" #firstName="ngModel" [(ngModel)]="service.firstName"
  [ngClass]="{'ng-invalid': firstName.invalid}"
  required="required">
  </div>
  <div>
    <label>Last Name</label>
  <input class="block-input" type="text" name="lastName" #lastName="ngModel" [(ngModel)]="service.lastName"
  [ngClass]="{'ng-invalid': lastName.invalid}"
  required="required">
  </div>
  <div>
    <label>Expiration Date</label>
  <input class="block-input" type="date" name="expirationDate" #expirationDate="ngModel" 
  [(ngModel)]="service.expirationDate"
  [ngClass]="{'ng-invalid': expirationDate.invalid}"
  required="required">
  </div>
  <div>
    <label>Card Number</label>
  <input class="block-input" type="number" name="cardNumber" #cardNumber="ngModel" [(ngModel)]="service.cardNumber"
  [ngClass]="{'ng-invalid': cardNumber.invalid}"
  required="required">
  </div>
  <div>
    <button  type="submit" [disabled]="!addCardForm.valid">Update</button>
  </div>
</form>

</div>