<h1>CreditCard</h1>


<div>
  <table style="width:100%; text-align:center">
    <tr>
<th>First Name</th>
<th>Last Name</th>
<th>Expiration Date</th>
<th>Card Number</th>
    </tr>
    <tr *ngFor="let card of service._creditcards">
      <td> {{card.firstName}} </td>
      <td> {{card.lastName}} </td>
      <td> {{card.expirationDate | date: 'MM/yy'}} </td>
      <td> {{card.cardNumber}} </td>
      
    </tr>
  </table>

</div>

<div style="text-align:center">
  <h1>Add New Card</h1>
<form #addCardForm="ngForm" (ngSubmit)="service.addNewCard(addCardForm)">
  <div>
  <label>First Name</label>
  <input type="text" name="firstName" #firstName [(ngModel)]="service.firstName">
  </div>
  <div>
    <label>Last Name</label>
  <input type="text" name="lastName" #lastName [(ngModel)]="service.lastName">
  </div>
  <div>
    <label>Expiration Date</label>
  <input type="text" name="expirationDate" #expirationDate [(ngModel)]="service.expirationDate">
  </div>
  <div>
    <label>Card Number</label>
  <input type="text" name="cardNumber" #cardNumber [(ngModel)]="service.cardNumber">
  </div>
  <div>
    <button type="submit">הוסף כרטיס</button>
  </div>
</form>

</div>